<title>{{title}}</title>
<div class="container" style="min-height: 500px; position: relative;">
    <div *ngIf="!isLoading" class="row">
      <div class="row">
        <div class="col-sm-3">
          <p class="name_product">
            <a [hidden]="!isHat" title="Xem tất cả sản phẩm" href="/home/product/?type_product=coffee_hat" style="text-decoration: none; color: rgb(10, 10, 10);">Cà phê hạt</a>
            <a [hidden]="isHat" title="Xem tất cả sản phẩm" href="/home/product/?type_product=coffee_xay" style="text-decoration: none; color: rgb(10, 10, 10);">Cà phê xay</a>
          </p>      
        </div>
        <div class="col-sm-7">
          <input style="margin-top: 35px;" (keyup)="enter($event)" [(ngModel)]="keysearch" type="text" class="form-control" placeholder="Nhập từ khóa tìm kiếm">
        </div>
        <div class="col-sm-1">
          <i class="fa fa-search" (click)="onSearch()" style="margin-top: 44px; position: relative; right: 55px; font-size: 16px; cursor: pointer;" aria-hidden="true"></i>
        </div>
      </div>
      <div class="row" *ngIf="isSearch" style="margin-bottom: 20px; margin-left: 10px;"><h4>Có khoảng {{formatNumber(this.products.length)}} kết quả</h4></div>

      <div class="outer" style="text-align: center; width: 100%;" *ngIf="isEmpty">
        <h1>Chưa có dữ liệu!</h1>
      </div>

      <div class="col-md-3 col-sm-3" style="margin-bottom: 20px;" *ngFor="let sp of products | paginate: { itemsPerPage: 8, currentPage: p }">
        <div class="avatar">
          <img src="{{ sp.avatar }}" style="height: 300px; width: 250px;" class="img-rounded avatar-product">
          <div class="middle">
            <div class="text"><button (click)="show(sp.id)" data-target="#detailnews" data-toggle="modal" class="btn btn-primary btn-block">Xem chi tiết</button></div>
          </div>
        </div>
        <h4 class="title" (click)="show(sp.id)" title="{{sp.tensp}}" style="text-align: center; margin-top: 10px;" data-target="#detailnews" data-toggle="modal">{{ sp.tensp }}</h4>
        <div class="price">
          <h5 style="text-align: center; font-size: 16px;">
            <img src="assets/images/icon_price.png" alt="Giá" style="height: 25px; width: 25px;">
            <strong>{{ formatNumber(sp.gia) }}<sup>vnđ</sup></strong>
          </h5>
        </div>
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-6">
            <button (click)="addCart(sp.id, sp.tensp, sp.gia, true)" style="cursor: pointer;" class="btn btn-danger btn-block">MUA NGAY</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="text-align:center;">
    <div class="col-md-12">
      <pagination-controls (pageChange)="pageChange(p = $event)"></pagination-controls>
    </div>
  </div>
  <div id="detailnews" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 *ngIf="isDetail" class="modal-title"><strong style="text-transform: uppercase;">{{details.tensp}}</strong></h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5" *ngIf="isDetail">
              <img src="{{details.avatar}}" alt="ảnh" class="img-rounded" style="height: 330px; width: 330px;">
            </div>
            <div class="col-sm-5 content-detail" style="font-size: 16px;">
              <div class="row" *ngIf="isDetail">
                <h3 style="color: red;">{{details.tensp}}</h3>
              </div>
              <div class="row" *ngIf="isDetail&&details.loaisp === '1'">
                <b>Loại sản phẩm:</b> Cà phê hạt</div>
              <div class="row" *ngIf="isDetail&&details.loaisp === '2'">
                <b>Loại sản phẩm:</b> Cà phê xay</div>
              <div class="row" *ngIf="isDetail">
                <b>Giá bán:</b> {{formatNumber(details.gia)}}<sup>vnđ</sup>
              </div>
              <div class="row" *ngIf="isDetail">
                <b>Quy cách:</b> 1 {{details.donvi}}</div>
              <div class="row" *ngIf="isDetail">
                <div *ngIf="details.uudai.length!==0">
                  <b>Ưu đãi:</b> {{details.uudai}}</div>
              </div>
              <div class="row" style="color: red;">
                <p>Miễn phí vận chuyển trong khu vực Bình Dương</p>
              </div>
              <div class="row">
                <b>Số lượng:</b>&nbsp;
                <input type="number" [(ngModel)]="soluong" style="text-align: center; width: 50px; border-radius: 5px;" value="1" name="soluong"
                  min="1" max="100">
              </div>
              <div class="row">
                <button style="width: 120px; margin-top: 10px;" class="btn btn-danger btn-block" (click)="addCart(details.id, details.tensp, details.gia, false)">Thêm vào giỏ</button>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
              <div class="row" style="text-align: center;">
                <h4><b>Thông tin sản phẩm</b></h4>
              </div>
              <div class="row">
                <div id="decribes" style="font-size: 14px;"></div>
              </div>
            </div>
            <div class="col-sm-1"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button data-dismiss="modal" class="btn btn-primary">Đóng</button>
        </div>
      </div>
    </div>
  </div>
  <div class="loader" *ngIf="isLoading" style="position: fixed; top: 50%; left: 45%"></div>