<nav class="navbar navbar-default" style="background-color: #fff; border-bottom: 5px solid #cfae78; margin-bottom: 0px;">
  <div class="header__topBar">
    <div class="topContact">
      <p>Hotline: 0901 755 956</p>
    </div>
  </div>
  <div class="container">
    <div class="navbar-header">
      <div class="hd-logo">
        <a href="/" class="align-items--center">
          <img src="assets/images/logo.png" alt="Cà phê nguyên chất hàng đầu Buôn Ma Thuột">
          <div class="hd-logo__name">
            <p>Showroom CaFe</p>
            <p style="color:black">Trần Nhân</p>
          </div>
        </a>
      </div>
    </div>
    <div id="navbar" class="collapse navbar-collapse" style="margin-top: 35px; font-size: 16px;">
      <ul class="nav navbar-nav">
        <li style="margin-left: 50px;">
          <a title="Trang chủ" href="/">Trang chủ</a>
        </li>
        <li class="">
          <a title="Danh mục sản phẩm" target="" class="has-submenu" aria-haspopup="true" aria-expanded="false">Sản phẩm
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu sm-nowrap" role="group" aria-hidden="true" aria-labelledby="sm-15307587444036963-1" aria-expanded="false"
            style="top: auto; left: 0px; margin-left: 0px; margin-top: 0px; min-width: 10em; max-width: 25em;">
            <li>
              <a title="Cà phê hạt" href="/home/product/?type_product=coffee_hat" target="" style="margin-left: 10px;">Cà phê hạt</a>
            </li>
            <li>
              <a title="Cà phê rang xay" href="/home/product/?type_product=coffee_xay" target="" style="margin-left: 10px;">Cà phê xay</a>
            </li>
          </ul>
        </li>
        <li>
          <a title="Hướng dẫn mua hàng" data-toggle="modal" data-target="#manual" style="cursor: pointer;" >Hướng dẫn</a>
        </li>
        <li>
          <a title="Giới thiệu" data-toggle="modal" data-target="#introduce" style="cursor: pointer;">Giới thiệu</a>
        </li>
        <li>
          <a title="Liên hệ" data-toggle="modal" data-target="#contact" style="cursor: pointer;" >Liên hệ</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a title="Giỏ hàng" style="cursor: pointer;" data-toggle="modal" data-target="#myCart" (click)="showCart()">
            <img src="assets/images/icon_cart.png" style="width: 20px; height: 20px;" alt="Giỏ hàng"> Giỏ hàng ({{sohang}})</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="myCart" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Giỏ hàng</h4>
      </div>
      <div class="modal-body">
        <div *ngIf="sohang===0" style="text-align: center; font-size: 20px; color: red;" class="row"><b>Bạn chưa có món hàng nào trong giỏ!</b></div>
        <table class="table" *ngIf="sohang!==0">
          <tr>
            <th>Tên sản phẩm</th>
            <th>Đơn giá(VNĐ)</th>
            <th>Số lượng</th>
            <th>Thành tiền(VNĐ)</th>
            <th></th>
          </tr>
          <tr *ngFor="let item of cartDetail">
            <td>{{item.tensp}}</td>
            <td>{{formatNumber(item.giasp)}}</td>
            <td><input [(ngModel)]="item.soluong" type="number" min="1" max="100" style="width: 50px; border-radius: 5px; text-align:center;" (input)="updateCart()"></td>
            <td>{{formatNumber(item.soluong*item.giasp)}}</td>
            <td><a (click)="deleteItem(item.masp)" style="cursor: pointer; color: black;"><i style="font-size: 20px;" class="fa fa-trash" aria-hidden="true"></i></a></td>
          </tr>
        </table>
        <div *ngIf="sohang!==0" class="row" style="text-align: center; font-size: 20px;">
          <strong>Tổng tiền: </strong>{{formatNumber(thanhtien)}}<sub style="bottom: .5em;">vnđ</sub>
        </div>
        <div *ngIf="sohang!==0" class="row" style="text-align: right; font-size: 14px; color: red; padding: 0px 20px;">
          <p>*Lưu ý: Chưa bao gồm phí vận chuyển và phí VAT</p>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-sm-6" style="text-align: left">
            <button class="btn btn-danger" data-dismiss="modal">Đóng</button>
          </div>
          <div class="col-sm-6" style="text-align: right">
            <button class="btn btn-primary" [disabled]="sohang===0" data-toggle="modal" data-target="#myInfo" data-dismiss="modal">Đặt hàng</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="myInfo" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Thông tin liên hệ</h4>
      </div>
      <div class="modal-body info">
        <div class="row">
          <div class="col-sm-3">Họ tên*</div>
          <div class="col-sm-9">
            <input type="text" [(ngModel)]="name" name="hoten" placeholder="Nhập họ tên" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">Email</div>
          <div class="col-sm-9">
            <input type="text" name="email" [(ngModel)]="email" placeholder="Nhập họ email" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">Số điện thoại*</div>
          <div class="col-sm-9">
            <input type="tel" name="sodt" [(ngModel)]="phone" placeholder="Nhập họ số điện thoại" (keyup)="validationPhone($event)" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">Địa chỉ*</div>
          <div class="col-sm-9">
            <input type="text" name="diachi" [(ngModel)]="diachi" placeholder="Nhập số nhà,tên chỗ ở, tên đường, phường/xã" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">Tỉnh/Thành*</div>
          <div class="col-sm-9">
            <select class="form-control" (change)="onChangeCity($event.target.value)">
              <option selected value="default">-- Chọn Tỉnh/Thành phố --</option>
              <option *ngFor="let city of tinhthanh" [selected]="city.id===idtp" value="{{city.id}}">{{city.tentp}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">Quận/Huyện*</div>
          <div class="col-sm-9">
            <select class="form-control" (change)="onChangeDistrict($event.target.value)">
              <option selected value="default">-- Chọn Quận/Huyện --</option>
              <option *ngFor="let dis of district" [selected]="dis.id===idqh" value="{{dis.id}}">{{dis.tenquanhuyen}}</option>
            </select>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-sm-6" style="text-align: left">
            <button class="btn btn-danger" data-dismiss="modal" id="closemodal">Đóng</button>
          </div>
          <div class="col-sm-6" style="text-align: right">
            <button class="btn btn-primary" (click)="orderProduct()">Hoàn tất đặt hàng</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button style="display: none;" data-toggle="modal" data-target="#myAnnounce" id="openmodal"></button>

<div id="myAnnounce" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Thông báo</h4>
      </div>
      <div class="modal-body">
        <div *ngIf="orderSuccess" style="text-align: center; font-size: 16px; color: black;">Bạn đã đặt hàng thàng công! Chúng tôi sẽ sớm liên hệ với bạn để xác nhận đơn hàng. Xin chân thành cảm ơn!</div>
        <div *ngIf="!orderSuccess" style="text-align: center; font-size: 16px; color: black;">Đặt hàng thất bại! Vui lòng thử lại!</div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<div id="manual" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Hướng dẫn</h4>
      </div>
      <div class="modal-body">
        <p><span style="font-size:20px;"><strong># Hướng dẫn mua h&agrave;ng</strong></span></p>
        <div class="row" style="padding: 0px 25px;">
          <p style="font-size: 16px;"><b> 1. Chọn món hàng cần mua</b></p>
          <p>Bấm trực tiếp và nút mua hàng</p>
          <img style="border: 1px solid black; display: block; margin-left: auto;  margin-right: auto;" src="assets/images/hd_1.PNG" width="50%" height="500px">
          <p>Xem chi tiết món hàng, chọn số lượng hàng và nhấn thêm và giỏ hàng</p>
          <img style="border: 1px solid black; display: block; margin-left: auto;  margin-right: auto;" src="assets/images/hd_2.PNG" width="700px" height="500px">
          <p style="font-size: 16px;"><b> 2. Kiểm tra lại giỏ hàng</b></p>
          <p>Nhấn vào biểu tượng giỏ hàng ở góc trên bên phải màn hình</p>
          <img style="border: 1px solid black; display: block; margin-left: auto;  margin-right: auto;" src="assets/images/hd_3.PNG" width="150px" height="70px">
          <p>Thao tác xóa hàng, thay đổi số lượng(tổng tiền sẽ cập nhật theo thay đổi), nhấn nút đặt hàng để tiến hành đặt hàng</p>
          <img style="border: 1px solid black; display: block; margin-left: auto;  margin-right: auto;" src="assets/images/hd_4.PNG" width="600px" height="300px">
          <p style="font-size: 16px;"><b> 3. Hoàn tất đặt hàng</b></p>
          <p>Nhập đầy đủ thông tin và nhấn hoàn tất đặt hàng</p>
          <img style="border: 1px solid black; display: block; margin-left: auto;  margin-right: auto;" src="assets/images/hd_5.PNG" width="600px" height="400px">
          <p>Sau khi đặt hàng thành công sẽ có thông báo</p>
          <img style="border: 1px solid black; display: block; margin-left: auto;  margin-right: auto;" src="assets/images/hd_6.PNG" width="500px" height="200px">
        </div>
        <p><span style="font-size:20px; margin-top: 20px;"><strong># Hướng dẫn thanh toán</strong></span></p>
        <p>Thanh toán bằng tiền mặt sau nhận hàng được giao!</p>
        <p style="text-align: center; color: red; font-size: 20px;">Chân thành cảm ơn quý khách!</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

<div id="contact" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Liên hệ</h4>
      </div>
      <div class="modal-body info" style="font-size: 18px;">
        <div class="row" style="margin-left: 35px;">
          <img src="assets/images/icon-user.png" alt="icon-user" width="30px" height="30px;"> Quang Nhuận(Nhân Phát)
        </div>
        <div class="row" style="margin-left: 35px;">
          <img src="assets/images/icon-phone.png" alt="icon-phone" width="30px" height="30px;"> 0901 755 956
        </div>
        <div class="row" style="margin-left: 35px;">
          <img src="assets/images/icon_email.png" alt="icon-email" width="30px" height="30px;"> trannhanphat271@gmail.com
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
<div id="introduce" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Giới thiệu</h4>
      </div>
      <div class="modal-body info">
        Trang web bán cà phê uy tín, giá cả phải chăng.
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>